.container {
  width: 1000px;
  margin-top: 3%;
  margin-left: 12.5%;
  height: 500px;
  border: 2px solid #000000;
}

.header {
  width: 100%;
  height: 14%;
  background-color: #9b2a08;
}

h1 {
  margin-left: 30%;
  font-size: 2em;
  font-weight: 600;
}

.seller-details {
  width: 100%;
  height: 31%;
  border-bottom: 2px solid #000000;
  background-color: #c0c0c0;
}

.seller-image {
  width: 100px;
  height: 115px;
  margin-top: 2%;
  margin-left: 43%;
}

h2 {
  margin-top: 1.5%;
  font-size: 1.5em;
  font-weight: 600;
  margin-left: 41%;
  margin-bottom: 1.5%;
}

.items {
  width: 99%;
  height: 42.5%;
  margin-left: 0.3%;
  background-color: #c0c0c0;
  border: 2px solid #000000;
}

.item-data {
  margin-top: 2%;
  display: block;
}

.items-div {
  width: 32%;
  height: 99%;
  margin-left: 0.8%;
  display: inline-block;
  background-color: #51f62c;
  text-align: center;
}

.item-image {
  width: 100px;
  height: 100px;
}
