.container {
  width: 1000px;
  height: 500px;
  border: 3px solid #000000;
  font-family: "Open Sans";
  margin-top: 3.5%;
  margin-left: 10%;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 1%;
}
.logo2 {
  height: 179px;
  width: 266px;
}

.header {
  width: 96%;
  height: 21%;
  margin-top: 1%;
  margin-left: 2%;
  border: 2px solid #000000;
  border-radius: 15px;
}

h1 {
  margin-left: 29.5%;
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
  color: #821008;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.content {
  width: 96%;
  height: 71%;
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
  border: 2px solid #000000;
  border-radius: 15px;
  background-image: url("../images/logo.jpg");
  background-position: 20%;
  background-repeat: no-repeat;
  background-size: 300px;
  opacity: 0.6;
}

.left {
  width: 67%;
  height: 100%;
  margin-right: 3%;
  display: inline-block;
}

.right {
  width: 28%;
  height: 51%;
  display: inline-block;
  vertical-align: top;
  margin-top: 10%;
}

h2 {
  margin-top: 2%;
  margin-left: 3%;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 3%;
}
p {
  margin-left: 3%;
  font-size: 1em;
  font-weight: 200;
  text-align: justify;
}
