.container {
  width: 1000px;
  height: 450px;
  border: 3px solid #000000;
  font-family: "Open Sans";
  margin-top: 7%;
  margin-left: 13%;
}

.logo {
  height: 100px;
  width: 100px;
}

.header {
  width: 96%;
  height: 25%;
  margin-top: 2%;
  border: 2px solid #000000;
  border-radius: 15px;
  margin-left: 2%;
}

h1 {
  margin-left: 29%;
  margin-top: 2%;
  font-size: 3em;
  font-weight: 600;
  color: #821008;
  display: inline-block;
  vertical-align: top;
}

.content {
  width: 96%;
  height: 57%;
  margin-top: 3%;
  margin-left: 2%;
  border: 2px solid #000000;
  border-radius: 15px;
  background-color: #c0c0c0;
}

h2 {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 1.5em;
  font-weight: 550;
}

h3 {
  margin-top: 20px;
  margin: 2%;
  font-size: 1em;
  font-weight: 650;
  text-align: center;
}

.address-info {
  text-align: center;
}

address {
  font-size: 0.8em;
}

.address-link {
  margin-top: 3%;
  color: #076b1a;
}
