.container {
  width: 1000px;
  height: 560px;
  border: 3px solid #000000;
  font-family: "Open Sans";
  margin-top: 2.5%;
  margin-left: 12.5%;
}

.logo {
  height: 100px;
  width: 100px;
  margin-left: 1%;
}

.header {
  width: 94%;
  height: 20%;
  margin-top: 2%;
  margin-left: 3%;
  border: 2px solid #000000;
  border-radius: 15px;
}

h1 {
  margin-left: 29.5%;
  margin-top: 2%;
  display: inline-block;
  vertical-align: top;
  color: #821008;
  font-size: 3em;
  font-weight: 600;
  text-align: center;
}

.content {
  width: 96%;
  height: 72.5%;
  margin-top: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
  border-radius: 15px;
  background-image: url("../images/logo.jpg");
  background-position: 70%;
  background-repeat: no-repeat;
  background-size: 300px;
  opacity: 0.6;
}

.modules {
  width: 30%;
  height: 95%;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 15px;
  vertical-align: top;
  margin-left: 1%;
  margin-top: 1%;
}
.module {
  display: block;
  margin-top: 28%;
  margin-left: 9%;
}

.introduction {
  width: 65%;
  height: 95%;
  margin-left: 2%;
  margin-top: 1%;
  display: inline-block;
  border: 2px dotted #000000;
  border-radius: 15px;
  vertical-align: top;
}

h2 {
  margin-top: 3%;
  margin-left: 33%;
  margin-bottom: 3%;
  font-size: 1.5em;
  font-weight: 600;
}

p {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  text-align: justify;
  overflow-y: scroll;
}

.intro-content {
  color: #a61b0c;
  font-weight: bold;
}

a:hover {
  color: #ff0000;
}
