.container {
  width: 1000px;
  height: 450px;
  margin-top: 8%;
  margin-left: 15%;
  font-family: 'Open Sans';
  background-color: #c0c0c0;
  border: 2px solid #000000;
}
.logo {
  width: 309px;
  height: 180px;
}
.header {
  width: 90%;
  height: 10%;
  margin-left: 5%;
  margin-top: 2%;
  padding-top: 2%;
  font-size: 1em;
  background-color: #99c9f5;
  text-align: center;
}
a:hover {
  color: #ff0000;
}
.content {
  width: 90%;
  height: 75%;
  margin-left: 5%;
  font-weight: bold;
  font-size: 1em;
  color: #ffffff;
  background-color: #7968b6;
}
.content-image {
  width: 35%;
  margin-top: 3%;
  margin-left: 5%;
  display: inline-block;
}
.content-para {
  width: 51%;
  margin-top: 3%;
  margin-left: 2%;
  vertical-align: top;
  display: inline-block;
}
.last-para {
  width: 86%;
  margin-top: 3%;
  margin-left: 5%;
  font-style: italic;
}
.intro-content {
  color: #a61b0c;
  font-weight: bold;
}
p {
  text-align: justify;
}
.header-link
{
    margin-right:1%
}

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #99c9f5;
    min-width: 200px;
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  