.container {
  width: 1000px;
  height: 500px;
  margin-left: 12%;
  margin-top: 5%;
}

.site {
  width: 97.5%;
  height: 15%;
  background-color: #2edbdb;
}

.content {
  width: 97.5%;
  height: 80%;
}

.titles {
  width: 68%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.title {
  width: 98%;
  height: 37%;
  border: 10px #a7f542 solid;
}

.module {
  width: 31.5%;
  height: 83.9%;
  background-color: #ff759f;
  display: inline-block;
  vertical-align: top;
}

h1 {
  margin-left: 2%;
  font-size: 2em;
  font-weight: 600;
  padding-top: 1.5%;
}

h2 {
  margin-left: 1.5%;
  margin-top: 3%;
  font-size: 2em;
  font-weight: 600;
}

h3 {
  margin-left: 2%;
  margin-top: 4%;
  font-size: 2em;
  font-weight: 600;
}

.title-para {
  margin-left: 2%;
  margin-right: 3%;
  margin-top: 4%;
}

.module-para {
  margin-left: 2%;
  margin-top: 5%;
  margin-right: 2%;
}

p {
  text-align: justify;
}
