.container {
  width: 1200px;
  height: 2000px;
}

.header-content {
  width: 100%;
  height: 20%;
}

.header-nav {
  width: 100%;
  height: 18%;
  margin-top: 4%;
  margin-left: 12%;
}

.nav-div {
  height: 75%;
}

.nav-module {
  margin-left: 3%;
  margin-top: 2%;
  font-size: 1.25em;
}

.link-1 {
  background-color: #000000;
  color: #ffffff;
  border: none;
  font-size: 3em;
  margin-top: 3%;
}

.logo-1 {
  width: 120px;
  height: 60px;
  margin-top: 10%;
}

.link-2:hover {
  background-color: #0000ff;
  color: #ffffff;
}

.link-2 {
  border: 2px solid #0000ff;
  color: #0000ff;
  font-size: 1.5em;
  margin-top: 2%;
  margin-left: 19%;
}

.left-header-info {
  width: 40%;
  margin-left: 12%;
  display: inline-block;
}

.right-header-info {
  width: 36%;
  display: inline-block;
  vertical-align: top;
  margin-left: 7%;
}

.logo-1 {
  width: 160px;
  height: 50px;
  margin-bottom: 2%;
}

.logo-2 {
  width: 500px;
  height: 350px;
  margin-left: 7%;
}

h2 {
  font-size: 2em;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 2%;
}

.link-3 {
  background-color: #0000ff;
  color: #ffffff;
}

.header-content-btn {
  margin-top: 2%;
  margin-bottom: 2%;
}

.right-header-info {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.content {
  margin-left: 12%;
}

.div-logo {
  width: 200px;
  height: 200px;
}
