.container {
  width: 1000px;
  height: 750px;
  background-color: #c0c0c0;
  border: 1px solid black;
  margin-top: 7%;
}
.section-1 {
  width: 79%;
  height: 15%;
  background-color: #fff;
  margin-bottom: 4%;
  margin-top: 3%;
  margin-left: 11%;
  border: 1px #808080 solid;
}

.section-2 {
  width: 80%;
  height: 15%;
  margin-left: 11%;
}

.section-2-div {
  width: 20.5%;
  height: 100%;
  background-color: #ffffff;
  display: inline-block;
  margin-right: 4%;
  border: 1px #808080 solid;
}

.section-2-div-last {
  width: 22%;
  height: 100%;
  background-color: #ffffff;
  display: inline-block;
  border: 1px #808080 solid;
}

.section-3 {
  width: 80%;
  height: 30%;
  margin-top: 4%;
  margin-left: 11%;
}

.section-3-left {
  width: 46.5%;
  height: 100%;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  border: 1px #808080 solid;
}

.section-3-right {
  width: 46.5%;
  height: 100%;
  display: inline-block;
  margin-left: 3.5%;
}

.up-div-1 {
  height: 45%;
  width: 105%;
  margin-bottom: 3%;
}
.up-div-2 {
  height: 45%;
  width: 105%;
}
.up-section-1 {
  width: 43.5%;
  height: 100%;
  margin-bottom: 2%;
  background-color: #ffffff;
  border: 1px #808080 solid;
  display: inline-block;
  margin-right: 4%;
  vertical-align: top;
}
.up-section-1-last {
  width: 45%;
  height: 100%;
  margin-bottom: 2%;
  background-color: #ffffff;
  border: 1px #808080 solid;
  display: inline-block;
  margin-left: 3%;
}
.up-section-2 {
  width: 44%;
  height: 90%;
  background-color: #ffffff;
  border: 1px #808080 solid;
  display: inline-block;
  margin-right: 7%;
  margin-top: 5%;
  vertical-align: top;
}

.up-section-2-last {
  width: 45%;
  height: 90%;
  background-color: #ffffff;
  border: 1px #808080 solid;
  display: inline-block;
  margin-top: 5%;
}

.section-4 {
  width: 79%;
  height: 15%;
  margin-top: 4%;
  margin-left: 11%;
  background-color: #fff;
  border: 1px #808080 solid;
}
