* {
    box-sizing: border-box;
}
h2{
   font-size: large;
   font-weight: bolder;
   margin-top: 20px;
   margin-bottom: 20px;
}

.container {
    width: 1000px;
    margin: auto;
    border: 5px #FFA500 solid;
}

.info-pic {
    width: 80px;
    height: 115px;
    float: right;
}

.personal-info {
    width: 95%;
    margin: auto;
    border-bottom: 5px solid red;
    padding-bottom: 20px;
}
.info-content{
    width:47%;
    display:inline-block;
    vertical-align: top;
}
.info-image{
    width:5%;
    padding-left: 48px;
    display: inline-block;
    vertical-align: top;
}
.education-info {
    width: 95%;
    margin: auto;
}
.info-list{
    width:100%;
}
.academic{
    width:100%;
    padding-left: 47.5%;
}
.academic-info-content
{
    width:30%;
    display:inline-block;
}
.list-data
{
    width:47%;
    margin:auto;
    display:inline-block;
}
.skills-info {
    width: 95%;
    margin: auto;
    border-bottom: 5px solid red;
    padding-bottom: 20px;
}
.working-info {
    width: 95%;
    margin: auto;
    border-bottom: 5px solid red;
    padding-bottom: 20px;
}
.organisational-info {
    width: 95%;
    margin: auto;
    padding-bottom: 20px;
}