.container {
  width: 400px;
  height: 400px;
  background-color: #000000;
  border: 2px solid black;
  margin-top: 8%;
  margin-left: 34%;
}

.left {
  width: 30%;
  height: 100%;
  display: inline-block;
}

.left-div-1 {
  width: 100%;
  height: 32%;
  background-color: #f8f8d5;
  border: 2px solid #000000;
}

.left-div-2 {
  width: 100%;
  height: 38%;
  background-color: #f8f8d5;
  border: 2px solid #000000;
}

.left-div-3 {
  width: 100%;
  height: 30%;
  background-color: #119fc5;
  border: 2px solid #000000;
}

.right {
  width: 68%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}

.right-div-1 {
  width: 100%;
  height: 70%;
  background-color: #ea4420;
  border: 2px solid #000000;
}

.right-div-2 {
  width: 100%;
  height: 30%;
}

.left-section {
  width: 90%;
  height: 100%;
  margin-right:1%;
  display: inline-block;
  background-color: #f8f8d5;
  border: 2px solid #000000;
}

.right-section {
  width: 7%;
  height: 100%;
  display: inline-block;
}

.up-div {
  width: 100%;
  height: 49%;
  background-color: #f8f8d5;
  border: 2px solid #000000;
  border-bottom:5px solid #000000;
}

.down-div {
  width: 100%;
  height: 50%;
  background-color: #FFFF00;
  border: 2px solid #000000;
  border-top:5px solid #000000;
}