.container {
  width: 1000px;
  height: 400px;
  margin: auto;
  margin-top: 70px;
}
.intro {
  width: 30%;
  height: 100%;
  background-color: #02445a;
  display: inline-block;
  vertical-align: top;
}
.articles {
  display: inline-block;
  border: 2px solid white;
  margin: auto;
  height: 100%;
  width: 65.6%;
  border: 10px solid white;
  vertical-align: top;
}
h1 {
  padding-top: 100px;
  padding-left: 108px;
  margin: 17px;
  text-align-last: right;
  color: white;
  font-size: xx-large;
}
.heading-info-1 {
  margin-right: 10px;
  padding-left: 140px;
  color: #dcd5d5;
  font-size: x-large;
}
.heading-info-2 {
  margin-right: 10px;
  padding-left: 115px;
  color: #dcd5d5;
  font-size: x-large;
}
.article {
  margin: auto;
  display: inline-block;
  width: 100%;
  height: 50%;
}
.post-type {
  color: #dcd5d5;
  font-size: small;
  border-bottom: 1px solid #dcd5d5;
}
.author {
  color: #dcd5d5;
}
.author-1 {
  color: #24e6e9;
}
.button-1 {
  background-color: #32cd32;
  color: white;
  border: none;
  font-size: xx-small;
}
.button-2 {
  background-color: blue;
  color: white;
  border: none;
  font-size: xx-small;
}
.button-3 {
  background-color: red;
  color: white;
  border: none;
  font-size: xx-small;
}
.btn {
  padding-top: 10px;
  padding-left: 120px;
}
.button-src {
  background-color: #02445a;
  margin: 5px;
  color: white;
  border: 1px solid white;
  font-size: small;
}
.post-intro {
  padding-top: 20px;
  display: inline-block;
  width: 80%;
  height: auto;
}
.post-intro-details {
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: x-small;
}
.author-image {
  padding-top: 20px;
  padding-left: 25px;
  display: inline-block;
  width: 15%;
  height: auto;
  vertical-align: top;
}
.author-pic {
  float: right;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
h3 {
  font-size: x-large;
  font-weight: bolder;
}
