.container {
  width: 1000px;
}
.heading {
  width: 125%;
  border-bottom: 3px solid #000000;
}
.main-logo {
  width: 80%;
  height: 50%;
}
.heading-info {
  width: 40%;
  margin-top: 15px;
  display: inline-block;
}
.nav-bar {
  width: 38%;
  display: inline-block;
  padding-left: 175px;
  vertical-align: top;
  margin-top: 1px;
}
.btn {
  width: 5%;
  display: inline-block;
  vertical-align: top;
  margin-top: 20px;
}
nav {
  width: 80%;
}

li {
  display: inline-block;
}
.sections {
  width: 125%;
  padding-left: 20px;
  border-bottom: 1px solid #000000;
}
.section-list {
  width: 80%;
  margin-top: 10px;
  display: inline-block;
}
.search {
  width: 10%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 55px;
  display: inline-block;
}
a {
  padding-right: 7px;
}
.articles {
  width: 125%;
  margin-top: 10px;
  border: 3px solid #000000;
}
img {
  height: 100%;
  width: 100%;
  text-align: center;
}
.article {
  width: 33%;
  border: 1px solid #000000;
  display: inline-block;
  vertical-align: top;
}
p {
  text-align: justify;
}
.modules {
  width: 125%;
  margin-top: 5px;
  text-align: center;
}
.module-section{
    padding:10px;
}
