.container {
    margin: auto;
    width: 1000px;
    background-color: #FFFF00;
    border: 2px solid #000000;
}

header {
    margin-bottom: 4%;
    text-align: center;
}

.form-group {
    width : 100%;
    margin-top : 3%;
    margin-left : 29%;
}

.form-label {
    width : 30%;
    display : inline-block;
}

.form-control {
    width : 40%;
    margin-left :2%;
    display : inline-block;
}

.textArea,.submit {
    margin-top : 5%;
    margin-bottom: 3%;
    text-align: center;
}